@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template: min-content 1fr / 1fr 5fr;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar{
    background: linear-gradient(rgb(25, 171, 143), rgb(148, 199, 64));
    grid-row: 1 / -1;
    display: grid;
    grid-template: min-content min-content min-content / 1fr;
    justify-items: start;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.menu li>img{
    height: 20px;
    width: auto;
    padding-left: 15px;
}

.menu li{
    display: flex;
    gap: 13px;
    margin: 0;
}

.sidebar ul{
    padding: 0;
}

li{
    list-style: none;
}

.sidebar li{
    padding: 1vh;
    font-size: 1.5em;
}

img{
    border-radius: 50%;
}

.logo{
    justify-self: center;
    position: relative;
    padding: 15px 15px 0 15px;
}

.dashboardLogo{
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.logo>h1{
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    display: block;
}

.menuBtn{
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.header{
    display: grid;
    grid-template: min-content min-content / 1fr;
    background-color: rgb(66, 75, 80);
    color: white;
}

.top{
    display: grid;
    grid-template: min-content / 1fr 10fr 4fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(25, 171, 143);
    font-weight: bold;
}

.top div:nth-of-type(2){
    justify-self: end;
    display: grid;
    grid-template: min-content / min-content min-content max-content;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-right: 35px;
}

.top img{
    height: 38%;
    width: auto;
}

#topProfilePic{
    height: 37px;
    width: auto;
}

.top>img:nth-of-type(3){
    height: 2em;
    width: auto;
    margin: 3px;
}

#searchbar{
    width: 85%;
    height: 40%;
    background-color: white;
    justify-self: flex-start;
    border-radius: 5px;
}

.bottom{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    font-weight: bold;
}

.bottomLeft{
    grid-column: 1 / span 2;
    display: grid;
    grid-template: 1fr 1fr/ fit-content(30px) 5fr;
    justify-items: flex-start;
    gap: 5px;
}

.header p{
    padding: 0;
    margin: 0;
}

.bottomLeft>p:nth-of-type(1){
    align-self: flex-end;
    font-size: 12px;
}

.bottomLeft>img{
    justify-self: center;
    align-self: center;
    object-fit: cover;
    width: 3.5em;
    height: auto;
    grid-row: 1 / -1;
    margin: 5px;
    margin-left: 10px;
}

.bottomRight{
    grid-column: 3 / 4;
}

.bottomRight>ul{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.headerBtn{
    border-image: linear-gradient(45deg, rgb(25, 171, 143), rgb(148, 199, 64)) 1;
    color: white;
    background-color: transparent;
    font-weight: bold;
    padding: 5px 14px;
}

.mainContent{
    grid-area: 2 /2 /-1 /-1;
    display: grid;
    grid-template: min-content 1fr / 7fr 3fr;
    background-color: rgb(243, 245, 249);
}

.yourProjects{
    grid-area: 1 /1 /-1 /2;
    display: flex;
    flex-direction: column;
    margin: 15px 25px;
    margin-right: 0;
}

h3{
    margin: 0;
    padding: 0 0 15px 0;
    width: fit-content;
    background-image: linear-gradient(45deg, rgb(148, 199, 64),rgb(25, 171, 143));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent
}

.cardSection{
    flex-grow: 1;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: minmax(min-content,30vh);
    grid-auto-rows: minmax(min-content,30vh);
    align-content: start;
    gap: 25px;
}

.cardSection>div{
    background-color: white;
}

.announcements{
    margin: 25px;
    grid-area: 1 /2 /2 /-1;
    display: flex;
    flex-direction: column;
}

.announCards{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 22px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(66, 75, 80);
    padding: 22px;
}

.announCards h4,
.announCards p,
.trendingCards h4,
.trendingCards p{
   margin: 0;
}

.announCards p,
.announCards p{
    margin-top: 5px;
}

.trending{
    margin: 25px;
    margin-top: 0;
    grid-area: 2 /2 /-1 /-1;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 0;
}

.trendingCards{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 22px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(66, 75, 80);
    padding: 22px;
}

.liseret{
    background-color: rgb(25, 171, 143);
    grid-area: 1 / 1 / -1 / 2;
    border-radius: 8px 0 0 8px;
}

.cardContent{
    border: none;
    display: grid;
    grid-template: 3fr 1fr / 1fr 30fr;
    box-shadow: 3px 3px 3px rgb(66, 75, 80);
    border-radius: 8px;
    position: relative;
}

.cardContent>div:nth-child(2){
    grid-area: 1 / 2 / 2 / -1;
    width: 70%;
    padding-left: 7%;
    align-self: center;
}

.cardTitle{
  margin: 0;
}

.cardContent>div:nth-child(2)>p{
   margin-top: 5px;
}

.cardBtns{
    grid-area: 2 / 2 / -1 / -1;
    justify-self: flex-end;
    margin-right: 17px;
}

.cardBtns button{
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
}

.cardBtns img{
    border: none;
    width: 20px;
    height: auto;
}

button:hover{
    cursor: pointer;
}


